@use "../base/mixin";
@use "../base/variables";

.app-contact-map {
    #map {
        height: variables.toRem(640px);
        z-index: 1;

        @include mixin.mq-max(sm) {
            height: 50vh;
            height: 50dvh;
        }
    }
}

