<section class="app-company-benefits">
    <div class="app-container --lg">
        <div class="app-company-benefits__grid">
            <div class="app-company-benefits__card">
                <div class="--head">Our Purpose</div>
                <div class="--content">We manage the quality and safety
                    of radiotherapy treatment with the
                    goal of improving patient
                    outcomes and reducing the
                    burden of cancer survivorship.</div>
            </div>
            <div class="app-company-benefits__card">
                <div class="--head">Our Focus</div>
                <div class="--content">We focus the passion of our
                    people and the commitment of
                    our company on making a
                    positive difference in the lives of
                    cancer patients.</div>
            </div>
            <div class="app-company-benefits__card">
                <div class="--head">Our Values</div>
                <div class="--content">As a company and as a team
                    we constantly strive to infuse
                    honesty, empathy, creativity,
                    curiosity and accountability into
                    everything we do.</div>
            </div>
        </div>
    </div>
</section>