<section class="app-contact-form">
    <div class="app-container --lg">
        <form action="/">
            <div class="app-contact-form__grid">
                <input type="text" placeholder="First Name" name="first_name" />
                <input type="text" placeholder="Last Name" name="last_name" />
                <input type="text" placeholder="Institution" name="institution" />
                <input type="email" placeholder="Email" name="email" />
                <textarea placeholder="Message" name="message"></textarea>
                <submit class="app-btn app-section-btn">Submit</submit>
            </div>
        </form>
    </div>
</section>