<footer class="app-footer">
    <div class="app-footer__body">
        <div class="app-container --md">
            <div class="app-footer-grid">
                <div class="app-footer-col">
                    <div class="app-footer-heading font-r--medium">CONTACT US</div>
                    <ul class="app-footer-info">
                        <li>General: 800-515-9132</li>
                        <li>Sales: 800-233-9132 x111</li>
                        <li>Support: 800-233-9132 x999</li>
                    </ul>
                </div>
                <div class="app-footer-col">
                    <div class="app-footer-heading font-r--medium">ST. LOUIS HQ</div>
                    <ul class="app-footer-info">
                        <li>3101 Olive Street</li>
                        <li>St. Louis, MO 63103</li>
                    </ul>
                </div>
                <div class="app-footer-col">
                    <div class="app-footer-heading font-r--medium">CONNECT</div>
                    <div class="app-footer__social">
                        <a href="#">
                            <svg width="28" height="28">
                                <use xlink:href="/app-sprite.svg#ic-facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="28" height="28">
                                <use xlink:href="/app-sprite.svg#ic-instagram"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="28" height="28">
                                <use xlink:href="/app-sprite.svg#ic-x"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-footer__basement">
        <div class="app-container --md">
            © Radialogics 2025 All Rights Reserved
        </div>
    </div>
</footer>