<header class="app-header">
    <div class="app-container">
        <div class="app-header__wrapper">
            <div class="app-header__left">
                <a class="app-header__logo" href="/">
                    <svg>
                        <use xlink:href="/app-sprite.svg#logo-black"></use>
                    </svg>
                </a>
            </div>
            <div class="app-header__right">
                <button class="app-btn app-hamburger-btn js-sidebar-btn-element">
                    <div class="app-hamburger__icon">
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    {{> sections/sidebar }}
</header>