<section class="app-news-information">
    <div class="app-container --lg">
        <a href="/" class="app-btn app-back-btn mb-10">Back</a>
        <div class="app-news-card">
            <div class="app-news-card__header">
                <div class="--title">.01</div>
                <div class="--date">November 20, 2024</div>
            </div>
            <div class="app-news-card__headline">
                Lorem ipsum odor amet, consectetuer
                adipiscing elit Lorem ipsum.
            </div>
            <div class="app-news-card__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tortor lectus, scelerisque eget venenatis sit amet, dictum quis lorem.
                Aliquam rutrum congue molestie. Nunc gravida nunc vel commodo blandit. Nullam neque mi, faucibus eget feugiat at, pulvinar ut
                neque. Donec et auctor neque. Ut ornare, lorem a fringilla convallis, lacus sem auctor tellus, et tristique augue arcu eget leo. Nullam
                id faucibus ex. Pellentesque ut quam vel eros efficitur rutrum. Vestibulum dui nisl, facilisis ac lorem ac, sollicitudin bibendum tortor.
                Pellentesque aliquam aliquet pulvinar. Nunc fermentum finibus nibh a congue. Vivamus tempor pulvinar nisl, id eleifend libero
                    laoreet sed.</p>
                <p>Morbi et ex molestie, convallis nibh id, interdum nibh. Nam lacus magna, faucibus sed ante a, vulputate ullamcorper felis. Aliquam
                diam felis, venenatis nec rutrum et, ultricies eget dolor. Phasellus commodo laoreet mauris, ut tempus nunc molestie sed. Vivamus
                rhoncus est at felis semper, tempus pellentesque mi scelerisque. Nam ullamcorper justo quam, nec tincidunt elit venenatis quis.
                Quisque nulla augue, tincidunt eget tincidunt id, fermentum et eros. Integer efficitur felis ut pretium porttitor. In pellentesque
                tincidunt faucibus. Donec vehicula libero eu mauris imperdiet ultricies. Integer convallis felis imperdiet sodales elementum. Vivamus
                    malesuada lorem ut ante tincidunt commodo. Vivamus placerat dapibus tortor nec tempus.</p>
                <p>Integer lobortis ligula ut lacus convallis, ac consequat diam volutpat. Donec luctus quam eget mi placerat porta non vitae odio. Duis
                varius, erat et pharetra malesuada, justo lorem lobortis dolor, in commodo quam nibh nec dui. Nulla erat massa, placerat quis ante
                quis, gravida sagittis ante. Fusce ornare mi hendrerit urna semper convallis. Nam tincidunt tortor nec diam lobortis, quis interdum
                    mauris luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</section>