<section class="app-news-information">
    <div class="app-container">
        <h2 class="app-section-title">News & Information</h2>
        <div class="app-news-grid">
            <div class="app-news-card">
                <div class="app-news-card__header">
                    <div class="--title">.01</div>
                    <div class="--date">November 20, 2024</div>
                </div>
                <div class="app-news-card__body">
                    <div class="--content">
                        <p><b>Lorem ipsum odor amet, consectetuer
                            adipiscing elit Lorem ipsum.</b></p>
                        <p>Lorem ipsum odor amet, consectetuer
                            adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit Lorem ipsum
                            odor amet, consectetuer adipiscing elit.
                            Lorem ipsum odor amet, consectetuer adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit</p>
                    </div>
                </div>
                <div class="app-news-card__footer">
                    <a href="news-single.html" class="--btn">Read More ></a>
                </div>
            </div>
            <div class="app-news-card">
                <div class="app-news-card__header">
                    <div class="--title">.02</div>
                    <div class="--date">November 20, 2024</div>
                </div>
                <div class="app-news-card__body">
                    <div class="--content">
                        <p><b>Lorem ipsum odor amet, consectetuer
                            adipiscing elit Lorem ipsum.</b></p>
                        <p>Lorem ipsum odor amet, consectetuer
                            adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit Lorem ipsum
                            odor amet, consectetuer adipiscing elit.
                            Lorem ipsum odor amet, consectetuer adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit Lorem ipsum odor amet,
                            consectetuer adipiscing elit</p>
                    </div>
                </div>
                <div class="app-news-card__footer">
                    <a href="news-single.html" class="--btn">Read More ></a>
                </div>
            </div>
            <div class="app-news-card">
                <div class="app-news-card__header">
                    <div class="--title">.03</div>
                    <div class="--date">November 20, 2024</div>
                </div>
                <div class="app-news-card__body">
                    <div class="--content">
                        <p><b>Lorem ipsum odor amet, consectetuer
                            adipiscing elit Lorem ipsum.</b></p>
                        <p>Lorem ipsum odor amet, consectetuer</p>
                    </div>
                </div>
                <div class="app-news-card__footer">
                    <a href="news-single.html" class="--btn">Read More ></a>
                </div>
            </div>
        </div>
    </div>
</section>