<section class="app-our-services-trial">
    <div class="app-container --lg">
        <h2 class="app-section-title">RT QA for clinical trials</h2>
        <div class="app-section-subtitle">
            Integration of RT in clinical trials is increasingly prevalent given the ability of radiation to
            augment systemic therapy efficacy however, RT is highly user-dependent and cannot be viewed
            as a uniform platform for pharmaceutical studies without robust RT QA
        </div>
    </div>
</section>
<article class="app-our-services-trial__content mt-2">
    <div class="app-container">
        <div class="--grid">
            <div class="--card">
                <div class="--card-grid">
                    <div class="--card-content">
                        <p>Radiotherapy is a safe and effective form of treatment for many
                        types of cancer.</p>
                        <p>Radiation necessarily hits critical structures and healthy tissues
                        when targeting tumor volumes.</p>
                        <p>Resulting need to balance trade-offs between tumorcidal dose to
                        target and sparing normal tissues.</p>
                        <p>Technology adoption, practice patterns, and standards of care
                        differ across regions.</p>
                        <p>"Quality of treatment planning and delivery can be highly
                        variable across institutions.</p>
                        <p>Variability directly impacts tumor control and toxicity, which are
                        standard study endpoints related to drug safety and efficacy.</p>
                    </div>
                    <div class="--card-image">
                        <img src="./images/radiotherapy.jpg" alt="" title="radiotherapy" />
                    </div>
                </div>
            </div>
            <div class="--card">
                <div class="--card-content">
                    <p>Radiation therapy is a cornerstone
                        treatment for cancer and frequently
                        employed in clinical trials to explore novel
                        systemic therapy agents in both curative
                        and non-curative settings. The
                        sophistication of RT provides patients with
                        access to treatments with high levels of
                        accuracy and precision as well as reduced
                        toxicity, if employed correctly. However, the
                        inherent complexity of RT planning and
                        delivery requires rigorous quality assurance
                        to reduce practice variability, minimize
                        suboptimal treatments, and ensure safe
                        and effective patient care.</p>
                </div>
            </div>
            <div class="--card">
                <div class="--card-content">
                    <p>Clinical trials use highly prescriptive
                        treatment guidelines to standardize
                        practice, isolate treatment effects, and
                        minimize sources of variability that could
                        potentially skew study results. Like other
                        therapies, the impact of RT is often
                        significantly modulated by
                        investigator-related, patient-specific, and
                        technological factors that influence the
                        course of treatment. This introduces
                        variability that can have direct
                        consequences on overall treatment
                        outcomes and trial endpoints.</p>
                </div>
            </div>
            <div class="--card">
                <div class="--card-content">
                    <p>Extensive research has demonstrated the
                        importance of radiation therapy quality
                        assurance (RTQA) on primary study
                        outcomes in clinical trials. A meta-analysis
                        of prospective clinical trials found that
                        32% of patients had RT treatment plans
                        that were not-per-protocol and associated
                        with an almost two-fold increase in risk of
                        tumor recurrence and death compared to
                        per-protocol plans.' Due to this potential
                        interaction, RT quality must be rigorously
                        controlled as any other study variable to
                        ensure the quality of trial results.</p>
                </div>
            </div>
        </div>
        <div class="--footer">
            Chri N, Shen X, Dicker AP. Doyle LA, Harrison AS, Showalter TN. Radiotherapy protocol deviations and clinical outcomes a meta-analysis of cooperative group clinical trials, J Nat/ Cancer Inst. 2013,105(6):387-93
        </div>
    </div>
</article>