<section class="app-page-head">
    <div class="app-container --lg">
        <h1>Clinical Trials Services</h1>
        <h2 class="cl-orange mb-2">Our Work</h2>
        <div class="app-section-subtitle">
            <p><b>Radialogica works with trial sponsors and CROs to manage RT quality in clinical trials.</b></p>
            <p>Our goal is to promote high quality care for study subjects, standardize and elevate clinical
                practice, collect relevant data for outcomes analysis and regulatory reporting and minimize the
                impact of variability on patient response and study outcomes.</p>
        </div>
    </div>
</section>