<section class="app-our-business">
    <div class="app-container --lg">
        <h2 class="app-section-title">Our Business</h2>
        <div class="app-section-subtitle">
            Radialogica provides <mark>analytics services and software tools</mark> to evaluate and manage RT treatment
            quality and enhance outcomes for cancer patients.
        </div>

        <div class="app-business__card mt-16">
            <div class="app-our-business__card-title">
                <span>CLINICAL TRIALS SERVICES</span>
            </div>
            <div class="app-our-business__card-description mt-8 mb-8">
                <p><b>RADIOTHERAPY QUALITY MANAGEMENT FOR ONCOLOGY TRIALS</b></p>
                <p>Radialogica partners with study sponsors and CROs to manage the quality of radiation therapy in clinical trials. We work with big pharma, emerging
                    biotech companies and medical device manufacturers to design and implement RT QA programs that anticipate and address the unique clinical and
                    operational requirements for trials that involve either on-study or prior RT. We leverage our deep clinical experience, proprietary software tools, and a
                    technology infrastructure purpose-built for RT data acquisition and analysis to flexibly support the needs of small phase I studies through large,
                    complex, global pivotal trials. our study services span the development of RT treatment guidelines; collection and aggregation of RT data; extraction
                    and evaluation of dosimetric parameters and other clinical quality measures; and comprehensive QA programs with prospective or retrospective case
                    reviews and reporting.</p>
            </div>
            <div class="app-our-business__card-info --v1 mb-4">
                <div class="--circle-info">+8,500</div>
                <div class="--content">
                    <p>We've collected and processed <mark>over 8,500</mark> radiotherapy case submissions
                        involving radiation treatment plan (DICOM-RT) files across a range of clinical and
                        research projects including pharma and device clinical trials, medical registries,
                        payer prior authorization and provider quality benchmarking.</p>
                </div>
            </div>
            <div class="app-our-business__card-info --v2 mb-4">
                <div class="--stat-info --inline">
                    <div class="--stat-info-value">6</div>
                    <div class="--stat-info-name">continents</div>
                </div>
                <div class="--stat-info --inline">
                    <div class="--stat-info-value"><mark>+</mark>50</div>
                    <div class="--stat-info-name">countries</div>
                </div>
                <div class="--stat-info --inline">
                    <div class="--stat-info-value"><mark>+</mark>600</div>
                    <div class="--stat-info-name">clinical sites</div>
                </div>
            </div>
            <div class="app-our-business__card-footer mt-8">
                <a href="/" class="app-btn app-section-btn">Learn more</a>
            </div>
        </div>

        <div class="app-business__card mt-16">
            <div class="app-our-business__card-title">
                <span>CLINICAL SOFTWARE TOOLS</span>
            </div>
            <div class="app-our-business__card-description mt-8 mb-8">
                <p><b>RADIOTHERAPY QUALITY MANAGEMENT FOR CLINICAL PRACTICE</b></p>
                <p>Radialogica develops sophisticated software tools to enhance the quality of radiotherapy treatment and improve the efficiency of clinical workflow.
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Neque finibus ultrices; vehicula adipiscing ligula consequat. Cubilia elit erat fusce pharetra
                    curae per. Pretium curabitur primis dapibus mauris quis iaculis. Amaximus rhoncus ultricies mus convallis nascetur pulvinar.</p>
            </div>
            <div class="app-our-business__card-description --grid mt-8 mb-8">
                <div class="--col">
                    <p><img src="./images/scimoca.png" alt="" title="scimoca" height="48" /></p>
                    <p>Developed in collaboration with Prof. Dr. Markus Alber, SciMoCa™
                        combines the accuracy of Monte-Carlo dose calculations and the
                        precision of custom beam models for robust dose verification and plan
                        quality evaluation. Lorem ipsum odor amet, consectetuer adipiscing
                        elit. Neque finibus ultrices; vehicula adipiscing ligula consequat.</p>
                </div>
                <div class="--col">
                    <p><img src="./images/full-access.png" alt="" title="full-access" height="48"></p>
                    <p>fullAccess™ is a fully integrated radiotherapy data display,
                        communication and analysis platform that enables clinical across the
                        continuum of care to access, analyze and share RT data. fullAccess™ is
                        deployed within clinics and across networks for physician plan review,
                        plan quality evaluation and benchmarking, peer review and chart rounds.</p>
                </div>
            </div>
            <div class="app-our-business__card-info --v1 mb-4">
                <div class="--circle-info">+8,500</div>
                <div class="--content">
                    <p>We've collected and processed <mark>over 8,500</mark> radiotherapy case submissions
                        involving radiation treatment plan (DICOM-RT) files across a range of clinical and
                        research projects including pharma and device clinical trials, medical registries,
                        payer prior authorization and provider quality benchmarking.</p>
                </div>
            </div>
            <div class="app-our-business__card-info --v2 mb-4">
                <div class="--stat-info">
                    <div class="--stat-info-value">6</div>
                    <div class="--stat-info-name">continents</div>
                </div>
                <div class="--stat-info">
                    <div class="--stat-info-value"><mark>+</mark>50</div>
                    <div class="--stat-info-name">countries</div>
                </div>
                <div class="--stat-info">
                    <div class="--stat-info-value"><mark>+</mark>600</div>
                    <div class="--stat-info-name">clinical sites</div>
                </div>
                <div class="--stat-info">
                    <div class="--stat-info-value"><mark>+</mark>500</div>
                    <div class="--stat-info-name">software licenses</div>
                </div>
                <div class="--stat-info">
                    <div class="--stat-info-value"><mark>+</mark>1000</div>
                    <div class="--stat-info-name">beam models</div>
                </div>
            </div>
            <div class="app-our-business__card-footer mt-8">
                <a href="/" class="app-btn app-section-btn">Learn more</a>
            </div>
        </div>
    </div>
</section>