<section class="app-our-services">
    <div class="app-container --lg">
        <h2 class="app-section-title cl-orange">Our Services</h2>
        <div class="app-section-subtitle">
            Radialogica provides a range of RT QA service options and study outputs for trials that involve
            current or prior radiotherapy treatment.
        </div>

        <div class="--list mt-13">
            <div class="--item">
                <div class="--item-title">RT Guidelines</div>
                <div class="--item-content">Define and document standards of care and quality metrics develop requirements and
                    recommendations for treatment planning and delivery.</div>
            </div>
            <div class="--item">
                <div class="--item-title">RT Data Collection</div>
                <div class="--item-content">Collect radiation treatment plans and other RT-related clinical data DICOM anonymization,
                    completeness checking and integrity checking.</div>
            </div>
            <div class="--item">
                <div class="--item-title">RT Data Curation</div>
                <div class="--item-content">Extraction and evaluation of dosimetric data and other treatment parameters reporting on relevant
                    quality measures and figures of interest.</div>
            </div>
            <div class="--item">
                <div class="--item-title">RT Imaging Outputs</div>
                <div class="--item-content">Creation of RT-related outputs to support independent image review visualization of target volume
                    radiation dose levels to inform response assessment.</div>
            </div>
            <div class="--item">
                <div class="--item-title">RT Case Review</div>
                <div class="--item-content">Prospective or retrospective case review and scoring relative to treatment guidelines case review
                    reports with performance feedback and recommendations for improvement.</div>
            </div>
            <div class="--item">
                <div class="--item-title">Site Qualification & Training</div>
                <div class="--item-content">Site surveys to confirm necessary equipment, technical resources and clinical capabilities clinical
                    and operational training on RT guidelines and RT case submission process.</div>
            </div>
        </div>
    </div>
</section>