<section class="app-our-field">
    <div class="app-container">
        <h2 class="app-section-title">Our Field</h2>
        <div class="app-our-field__grid">
            <div class="app-our-field__card">
                <p>Radiation therapy is a proven and
                    effective form of treatment for many
                    types of cancer. According to the
                    American Society for Radiation Oncology
                    (ASTRO), nearly two-thirds of cancer
                    patients in the United States, and over half
                    of cancer patients worldwide, will receive
                    radiation during their treatment.</p>
            </div>
            <div class="app-our-field__card">
                <p>Despite the high degree of computerization
                    and automation that has come to define
                    modern radiation oncology, there continues
                    to exist significant variability in treatment
                    planning and delivery. This variability can
                    have direct consequences in terms of
                    tumor control and toxicity.</p>
            </div>
            <div class="app-our-field__card">
                <p>The inherent complexity of radiotherapy
                    treatment requires rigorous quality
                    assurance to ensure safe and effective
                    care. The evaluation of treatment quality
                    can be performed prior to the start of
                    treatment, presenting an opportunity for
                    real-time prospective review and potential
                    intervention.</p>
            </div>
        </div>
    </div>
</section>