<section class="app-our-software">
    <div class="app-container --lg">
        <h2 class="app-section-title">Our Software</h2>
        <div class="app-section-subtitle">
            Radialogica develops sophisticated software tools to enhance the quality of radiotherapy
            treatment and improve the efficiency of clinical workflow. Lorem ipsum odor amet, consectetuer
            adipiscing elit neque finibus ultrices.
        </div>
    </div>
</section>