<section class="app-our-software__products mt-2">
    <div class="app-container --lg">
        <div class="--card">
            <div class="--card-content">
                <p><img src="./images/scimoca.png" alt="" title="scimoca" /></p>
                <p>SciMoCa™™ leverages the power of Monte Carlo for independent dose calculation and plan QA
                    developed in collaboration with Prof. Dr. Markus Alber. SciMoCa combines the accuracy of
                    Monte-Carlo dose calculations and the precision of custom beam models for robust dose
                    verification and plan quality evaluation.</p>
            </div>
            <div class="--card-grid">
                <div class="--card-grid__row">
                    <div class="--card-grid__caption">Benefits</div>
                    <div class="--card-grid__content">
                        <p><b>Accuracy</b> - a best-in-class Monte Carlo dose calculation
                        engine with a prominent academic pedigree that delivers
                        validated accuracy with fast calculation times</p>
                        <p><b>Precision</b> - custom beam models to maximize calculation
                        integrity with support for Varian, Elekta, Accuray,
                        Tomo Therapy, ZAP-X and and Siemans delivery devices</p>
                        <p><b>Analysis</b> - a comprehensive suite of dose analysis and
                        reporting tools along with workflow automation to
                        streamline plan review and approval</p>
                        <p><b>Deployment</b> - integrates seamlessly within your IT
                        infrastructure with no proprietary hardware required</p>
                    </div>
                </div>
                <div class="--card-grid__row">
                    <div class="--card-grid__caption">Features</div>
                    <div class="--card-grid__content">
                        <ul>
                            <li>photon and electron Monte Carlo dose calculation</li>
                            <li>machine-specific, generic, and golden beam data models</li>
                            <li>comparative plan quality metrics</li>
                            <li>comparative DVH</li>
                            <li>3D gamma analysis</li>
                            <li>image slice viewer</li>
                            <li>beam data table</li>
                            <li>plan approval and reporting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="--card-footer">
                Click <a href="#">here</a> to learn more about SciMoCa
            </div>
        </div>
        <div class="--card">
            <div class="--card-content">
                <p><img src="./images/full-access.png" alt="" title="full-access" /></p>
                <p>fullAccess'™ is a fully integrated radiotherapy data display, communication and analysis
                    platform that enables clinical across the continuum of care to access, analyze and
                    share RT data.</p>
                <p>fullAccess supports flexible viewing of multi-modality diagnostic images and multi-vendor
                    treatment plans extraction, analysis and benchmarking of plan quality metrics and sharing of
                    RT data between facilities and caregivers for clinical collaboration.</p>
            </div>
            <div class="--card-grid">
                <div class="--card-grid__row">
                    <div class="--card-grid__caption">Capabilities</div>
                    <div class="--card-grid__content">
                        <p><b>View</b> - isualize images and treatment plans for all major
                        treatment modalities, delivery devices and planning systems
                        from a single desktop application</p>
                        <p><b>Analyze</b> - evaluate plan quality metrics with user-defined
                        templates and benchmark performance against historic results</p>
                        <p><b>Annotate</b> - add clinical commentary in the plan that can be
                        reviewed and responded to by members of the treatment team</p>
                        <p><b>Package</b> - bundle treatment plans, annotations, and file
                        attachments into a single file with an embedded RT viewer</p>
                        <p><b>Share</b> - distribute radiotherapy treatment plans and other files
                        inside and outside the clinic, including patients and referral
                        partners</p>
                    </div>
                </div>
                <div class="--card-grid__row">
                    <div class="--card-grid__caption">Applications</div>
                    <div class="--card-grid__content">
                        <ul>
                            <li>plan review</li>
                            <li>remote review</li>
                            <li>peer review</li>
                            <li>plan quality benchmarking</li>
                            <li>case conference</li>
                            <li>referral partners</li>
                            <li>training and education</li>
                            <li>permanent and portable patient records</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>