<section class="app-our-platform">
    <div class="app-container --lg">
        <h2 class="app-section-title cl-orange">Our Platform</h2>
        <div class="app-section-subtitle">
            <p>Radialogica's clinical trials services are delivered over a proprietary cloud-based technology
            platform that's purpose-built for radiotherapy data.</p>
            <p>Our study portal is scalable and configurable based on the needs and requirements of
            a given study.</p>
        </div>

        <div class="--grid mt-20">
            <div class="--item">
                <div class="--item-icon">
                    <svg width="80" height="80">
                        <use xlink:href="/app-sprite.svg#ic-platform-1"></use>
                    </svg>
                </div>
                <div class="--item-title">Web-based Data Submission</div>
                <div class="--item-subtitle">Configurable eCRF & DICOM
                    data upload.</div>
            </div>
            <div class="--item">
                <div class="--item-icon">
                    <svg width="80" height="80">
                        <use xlink:href="/app-sprite.svg#ic-platform-2"></use>
                    </svg>
                </div>
                <div class="--item-title">Automated Data Processing</div>
                <div class="--item-subtitle">Contouring requirements and
                    dosimetric evaluations.</div>
            </div>
            <div class="--item">
                <div class="--item-icon">
                    <svg width="80" height="80">
                        <use xlink:href="/app-sprite.svg#ic-platform-3"></use>
                    </svg>
                </div>
                <div class="--item-title">Case Review & Reporting</div>
                <div class="--item-subtitle">Plan visualization, evaluation
                    and annotation.</div>
            </div>
            <div class="--item">
                <div class="--item-icon">
                    <svg width="70" height="70">
                        <use xlink:href="/app-sprite.svg#ic-platform-4"></use>
                    </svg>
                </div>
                <div class="--item-title">Dashboard Analytics Reporting</div>
                <div class="--item-subtitle">Trial submission activity
                    and scoring.</div>
            </div>
            <div class="--item">
                <div class="--item-icon">
                    <svg width="60" height="60">
                        <use xlink:href="/app-sprite.svg#ic-platform-5"></use>
                    </svg>
                </div>
                <div class="--item-title">Operational Reporting / Workflow
                    Management</div>
                <div class="--item-subtitle">Case status monitoring and
                    process reporting.</div>
            </div>
            <div class="--item">
                <div class="--item-icon">
                    <svg width="70" height="70">
                        <use xlink:href="/app-sprite.svg#ic-platform-6"></use>
                    </svg>
                </div>
                <div class="--item-title">Account Management</div>
                <div class="--item-subtitle">Role-based permissions and
                    Automated notifications.</div>
            </div>
        </div>



    </div>
</section>