<aside class="app-sidebar js-sidebar-element">
    <div class="app-sidebar__header">
        <div class="app-container">
            <div class="app-header__wrapper">
                <div class="app-header__left">
                    <a class="app-header__logo" href="/">
                        <svg>
                            <use xlink:href="/app-sprite.svg#logo-white"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="app-sidebar__scroll">
        <div class="app-container">
            <nav class="app-sidebar__nav">
                <a href="/" class="app-sidebar__nav-btn">
                    <span>Home</span>
                </a>
                <a href="/services.html" class="app-sidebar__nav-btn">
                    <span>Services</span>
                </a>
                <a href="/products.html" class="app-sidebar__nav-btn">
                    <span>Products</span>
                </a>
                <a href="/company.html" class="app-sidebar__nav-btn">
                    <span>Company</span>
                </a>
                <a href="/news&information.html" class="app-sidebar__nav-btn">
                    <span>News / Information</span>
                </a>
                <a href="/contact.html" class="app-sidebar__nav-btn">
                    <span>Contact</span>
                </a>
            </nav>
        </div>
    </div>
    <script type="module" src="./scripts/sidebar.js"></script>
</aside>