@use "base/variables";

input, textarea {
    color: white;
    background-color: var(--color-g5);
    appearance: none;
    outline: none;
    padding: variables.toRem(16px) variables.toRem(20px);
    border: none;
    max-width: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: variables.toRem(22px);
    box-sizing: border-box;

    &::placeholder {
        color: rgba(255,255,255,0.75);
    }

    &:focus {
        &::placeholder {
            color: white;
        }
    }
}

textarea {

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-g5) inset !important;
}